* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wrapper{
    background-image: url("BG.jpg");
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.centerLine{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 1fr;
    background-color: rgba(0,0,0, 0.3);
    color: white;
    font-weight: bold;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    height: 55%;
    padding: 20px;
    text-align: center;
}
.banner{
    grid-column: 1 / 13;
    padding-top: 75px;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.9);
}
.banner h1{
    font-size: 100px;
}
.container{
    grid-column: 14 / 19;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15% 1fr;
    background-color: rgba(0,0,0, 0.6);
    border: none;
    border-radius: 5px;
}
.tab{
    grid-row: 1 / 2;
}
button.tab{
    border: none;
    border-radius: 5px 5px 0px 0px;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0,0,0, 0.4);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}
button.tab:hover{
    background-color: rgba(0,0,0, 0.2);
}
.tabContainer{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
.tabContainer form{
    display: flex;
    flex-direction: column;
    padding: 15px 25px 35px 25px;
}
.tabContainer form input{
    margin-top: 25px;
    padding: 3px 0px 3px 7px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 5px;
}
.hidden{
    display: none;
}
#green{
    background-color: rgba(172, 255, 46, 0.8);
    cursor: pointer;
}
#green:hover{
    background-color: rgba(172, 255, 46, 0.7);
}
#red{
    background-color: rgba(255, 0, 0, 0.8);
    cursor: pointer;
}
#red:hover{
    background-color: rgba(255, 0, 0, 0.7);
}
#guestLink:visited, #guestLink:active, #guestLink:link{
    text-decoration: none;
    color: rgb(171, 255, 46);
    font-weight: lighter;
}
#guestLink:hover{
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.7);
}